*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 120px;
    width: 100%;
    
}
.searchbar{
    height: 60px;
    width: 100%;
    display: grid;
    place-content: center;
}
.searchbar input{
    height: 30px;
    width: 300px;
    border-radius: 20px;
    padding: 7px;
}
.left{
    height: 780px;
    width: 60%;
    background-color: green;
}
.right{
    height: 780px;
    width: 40%;
    background-color: rgb(181, 41, 209);
}
.main{
    display: flex;
}


nav{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 35px;
    gap: 100px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo p{
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.links{
    display: flex;
    gap: 200px;
}
.links a{
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


