*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 120px;
    width: 100%;
    
}
.searchbar{
    height: 60px;
    width: 100%;
    display: grid;
    place-content: center;
}
.searchbar input{
    height: 30px;
    width: 300px;
    border-radius: 20px;
    padding: 7px;
    border: none;

}
.left{
    height: 780px;
    width: 55%;
    
}
.right{
    height: 780px;
    width: 45%;
    
}
.main{
    display: flex;
}


nav{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 35px;
    gap: 100px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo p{
    font-size: 32px;
    font-family: Tahoma;
    font-weight: bolder;
}
.links{
    display: flex;
    gap: 200px;

}
.links a{
    text-decoration: none;
    font-size: 20px;
    font-family: tahoma;
    color: black;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 100px;
    gap: 20px;
}
.title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title h1{
    font-size: 150px;
    font-family: Tahoma ;
    
}
.title h2{
    font-size: 120px;
    font-family: Tahoma ;
    font-weight: 100;
    font-style: italic;
    margin-top: -29px;
}
.line {
    height: 6px;
    width: 410px;
    background-color: black;
}
.price h1{
    font-size: 70px;
    font-family:Tahoma;

}
.desc{
    font-family: tahoma;
    font-size: 18px;
}
.desc p{
    width: 600px;
    
}
.CTA{
    display: flex;
    gap: 20px;
    align-items: center;
}
.CTA button{
    font-size: 30px;
    padding: 10px;
    font-weight: 600;
    border-radius: 30px;
    background-color: #006241;
    border: none;
    color: white;
}
.CTA a{
    font-size: 26px;
    font-family: tahoma;

}
.right{
    position: relative;
}
.right .product{
    margin-top: 100px;
    margin-left: 100px;
    transform: scale(1.3);
    position: relative;
    z-index: 1;
}
.blob{
    position: absolute;
    z-index: 0;
    height: 900px;
    top: 10px;
    left: 0px;
}

